extends layout

block content
    h1(class="lg:text-4xl md:text-2xl text-xl font-extrabold p-5 font-mono") #{title}:

    - list_parts.sort(function(a, b){let textA = a.name.toUpperCase(); let textB = b.name.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;})
        div(class="rounded border shadow-2xl block border-blue-600 table   mt-5")
            table(class=" table-auto  font-mono bg-white  border-collapse border-blue-600")
                thead
                    tr
                        th(class="border px-2 text-center border-blue-600 md:text-xl") Name
                        th(class="border px-2 text-center border-blue-600 md:text-xl") Price
                        th(class="border px-2 text-center border-blue-600 md:text-xl") Stock
                        th(class="hidden px-2  text-center md:table-cell border border-blue-600 md:text-xl") Category
                        th(class="hidden px-2 text-center md:table-cell border border-blue-600 md:text-xl") Manufacturer
                        th(class="border px-2 text-center border-blue-600 md:text-xl") Details
                tbody
                each item in list_parts
                    tr
                        td(class="border px-2  text-center border-blue-600")= item.name
                        td(class="border px-2 text-center border-blue-600") #{item.price}€
                        td(class="border px-2 text-center border-blue-600")= item.stock
                        td(class="hidden px-2 text-center md:table-cell border border-blue-600")= item.category.name
                        td(class="hidden px-2 text-center md:table-cell border border-blue-600")= item.manufacturer.name
                        td(class="border px-2 text-center border-blue-600")
                            button(class="bg-blue-700 hover:bg-blue-800 hover:shadow-md mt-5 mb-5 rounded-full py-3 px-6 text-white")
                                a(href=item.url) Details

