extends layout

block content
    h1(class="lg:text-4xl md:text-2xl text-xl font-extrabold p-5 font-mono") #{title}:

    form(method="POST" action='')
        div(class="bg-white p-5 rounded-xl shadow font-mono flex flex-col items-center justify-center")
            div(class="flex flex-col w-4/5")
                label(for='name' class="font-bold") Name:
                input#name(type='text' class=" bg-gray-200 rounded" placeholder="Name of the item" name="name" required="true" value=(undefined===bikepart ? '' : bikepart.name))
            div(class="flex flex-col w-4/5")
                label(for='description' class="font-bold") Description:
                textarea#description(type='text' class=" bg-gray-200 rounded" placeholder="Description of the item" name="description" required="true" ) #{undefined===bikepart ?'':bikepart.description}
            div(class="flex flex-col w-4/5")
                label(for='price' class="font-bold") Price:
                input#price(type='number' min="1" class=" bg-gray-200 rounded" step="any" placeholder="Price of the item" name="price" required="true"  value=(undefined===bikepart ? '' : bikepart.price))
            div(class="flex flex-col w-4/5")
                label(for='category' class="font-bold") Category:
                select#category(type='select' class=" bg-gray-200 rounded" placeholder="Select category" name="category" required="true")
                    for category in categories
                        if bikepart
                            option(value=category._id selected=(category._id.toString() === bikepart.category._id.toString() ? 'selected' : false)) #{category.name}
                        else
                            option(value=category._id) #{category.name}
            div(class="flex flex-col w-4/5")
                label(for='stock' class="font-bold") Stock:
                input#stock(type="number" min="0" class=" bg-gray-200 rounded" placeholder="Number of items in stock" name="stock" required="true" value=(undefined===bikepart ? '' : bikepart.stock))
            div(class="flex flex-col w-4/5")
                label(for='manufacturer' class="font-bold") Manufacturer:
                select#manufacturer(type="select",  class=" bg-gray-200 rounded" placeholder="Select manufacturer", name="manufacturer" required="true")
                    for manufacturer in manufacturers
                        if bikepart
                            option(value=manufacturer._id selected=(manufacturer._id.toString() === bikepart.manufacturer._id.toString() ? 'selected' : false)) #{manufacturer.name}
                        else
                            option(value=manufacturer._id) #{manufacturer.name}
            button(type='submit' class="bg-blue-700 text-mono hover:bg-blue-800 hover:shadow-md m-5 text-white font-bold py-2 px-4 text-xl rounded-full") Submit!

    if errors
        ul(class="text-red font-mono font-bold")
        for error in errors
            li!= error.msg