extends layout

block content
    h1(class="lg:text-4xl md:text-2xl text-xl font-extrabold p-5 font-mono")= title

    h2(class="lg:text-3xl md:text-xl text lg font-extrabold ml-5 p-5 font-mono") #{manufacturer.name}:

    ul(class="text-mono md:text-xl")
    each item in manufacturer_items
        li(class="text-mono md:text-lg") #{item.name}, Category: #{item.category.name}  , Manufactured by: #{item.manufacturer.name}, &nbsp
            if item.stock > 0
                | Still in Stock: &nbsp
                span(class="text-green-800 font-bolder") #{item.stock}
            else
                span(class="text-red-800") No items in stock!
    a(href=manufacturer.url+'/update')
        button(class="bg-blue-700 hover:bg-blue-800 hover:shadow-md m-5 mt-5 mb-5 text-sm md:text-lg rounded-full py-3 px-6 text-white") Update manufacturer!

    a(href=manufacturer.url+'/delete')
        button(class="bg-red-700 hover:bg-red-800 hover:shadow-md m-5 mt-5 mb-5 text-sm md:text-lg rounded-full py-3 px-6 text-white") Delete manufacturer!